@use "../utils/" as u;

.contact-me {
  .container {
    @include u.d-flex(center, flex-start);
    flex-direction: column;
    gap: u.rem(20) u.rem(108);
    overflow: hidden;
    // gap: u.rem(20) 0;

    @include u.breakpoint(medium) {
      justify-content: space-between;
      flex-direction: row;
      column-gap: u.rem(60);
    }
  }

  .col-1 {
    flex: 4;
    width: 100%;
  }

  .col-2 {
    flex: 3.5;
  }

  .form {
    @include u.d-flex();
    flex-direction: column;
    gap: u.rem(20);
  }

  .input-field,
  .textarea-field {
    max-width: u.rem(500);
    padding: u.rem(18) u.rem(24);
    border: u.rem(1.4) solid #000;
    border-radius: u.rem(4);
    font-size: u.rem(14);
  }

  .textarea-field {
    resize: none;
  }

  .buttons {
    @include u.d-flex();
    flex-direction: column;
    gap: u.rem(24);

    @include u.breakpoint(xlarge) {
      flex-direction: row;
    }
  }

  .submit-button {
    padding: u.rem(16) u.rem(20);
    font-weight: 500;
  }

  .social-buttons {
    @include u.d-flex();
    gap: u.rem(24);
  }

  .social-button {
    width: fit-content;
    padding: u.rem(14);

    @include u.breakpoint(xlarge) {
      padding: u.rem(18);
    }
  }

  .col-2 {
    padding-top: u.rem(40);
  }

  .heading {
    font-size: u.rem(32);

    @include u.breakpoint(large) {
      font-size: u.rem(40);
    }

    @include u.breakpoint(xlarge) {
      font-size: u.rem(48);
    }

    .empty {
      text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
      color: #fff;
    }
  }

  p {
    margin: u.rem(20) 0;
  }

  // .contact-ways {
  //   @include u.d-flex();
  //   flex-direction: column;
  //   gap: u.rem(12);
  // }

  // .contact-way {
  //   font-weight: 900;
  // }
}
